
<div class="container">

  <p>labs works!</p>
  <h1>Hola mundo</h1>
  <h2>{{welcome}}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{task}}
      </li>
    }
  </ul>
  <hr/>
  <h2>{{'hola '.repeat(4)}}</h2>
  <p>La suma de  2+2 es {{2+2}}</p>
  <p>Hola {{name()}} y tienes {{age}} años</p>
  <hr/>
  <img [src]="image" alt="">
  <input type="text" [value]="name">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{person().name}}</p>
  <p>age: {{person().age}}</p>
  <img [src]="person().image" alt="">
  <hr/>
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double me</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="chageHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)">
  <p>(keydown shift t)</p>
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandler()">
  <hr/>
  <h1>Sinals</h1>
  <input type="text" [value]="name()" (keydown)="chageHandler($event)">
  <p>Hola {{name()}} </p>
  <ul>
    <p>Total: {{tasksSignal().length}}</p>
    @for (task of tasksSignal(); track task; let i = $index) {
      <li>
        {{i}} {{task}}
      </li>
    }
  </ul>
  <hr/>
  @if (1 == 1) {
    <div>
      My content
    </div>
  }
  @if (name() === 'Camila') {
    <div>
      My content {{name()}}
    </div>
  }

  @if(name() === 'Camila'){
    <div>
      Soy camila nueva sintaxis
    </div>
  }

  <h2> if else new </h2>
  @if (person().name === 'Camila' && person().age > 18){
    <strong>
      Soy camila y soy mayor de edad
    </strong>
  } @else {
    <div>
      Soy camila y soy menor de edad
    </div>
  }

  <hr/>
  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{colorCtrl.value}}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
    </g>
  </svg>
  <hr/>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr/>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br/>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <h2>New for</h2>

  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{i}} {{task}}</li>
      }@empty {
      <li><strong> No hay tareas</strong></li>
    }
  </ul>
  <hr/>
  <h2>New Switch</h2>
  <div>
    @switch (person().name) {
      @case ('Camila') {
        <p>Camila</p>
      }
      @case ('Juan') {
        <p>Juan</p>
      }
      @default {
        <p>Otro</p>
      }
    }
  </div>
</div>
